@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@theme {
  --font-inter: 'Outfit', Inter, sans-serif;
  --secondary: hsl(213.8 100% 96.9%);
  --primary: hsl(221.2 83.2% 53.3%);
  --border: hsl(220 13% 91%);
  --background: hsl(0 0% 100%);  
 
}